<nav class="categories">
  <small>Categories</small>
  <ul>
    {{# categories }}
      <li data-color="{{ fields.color }}"><a href="{{ url }}">{{ name }}</a></li>
    {{/ categories }}
  </ul>
</nav>