@font-face {
  font-family: "Langdon";
  src: url('./Langdon.otf') format('opentype');
}

@font-face {
  font-family: "Mission Gothic";
  src: url('./Mission Gothic Light.otf') format('opentype');
  font-weight: 400;
}